<html>
<head>
    <meta charset="UTF-8">
    <title>My First App</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
{%  block content %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut beatae dolor doloribus est ex illo, incidunt laborum natus nemo nihil odit quam reiciendis saepe sequi tempora velit, veniam voluptates?</p>

    lor
{% endblock %}
</body>
</html>